<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <!-- for favicon.ico -->
    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/x-icon</mime-type>
    </mime-mapping>

    <!-- default servlet for browse static content via jetty/tomcat default servlet -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <!-- Servlet 2.5 and newer support multiple url-pattern tags inside servlet-mapping -->
        <url-pattern>/css/*</url-pattern>
        <url-pattern>/js/*</url-pattern>
        <url-pattern>/img/*</url-pattern>
        <url-pattern>/static/*</url-pattern>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/spring-servlet.xml</param-value>
    </context-param>
    <!--<listener>-->
        <!--<listener-class>-->
            <!--org.springframework.web.context.ContextLoaderListener-->
        <!--</listener-class>-->
    <!--</listener>-->

    <servlet>
        <servlet-name>rest.service</servlet-name>
        <!-- <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class> -->
        <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
        <!-- <init-param> -->
        <!-- <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name> -->
        <!-- <param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value> -->
        <!-- </init-param> -->
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <!-- Important bit -->
            <param-value>org.startup.web.rest</param-value>
            <!-- <param-name>com.sun.jersey.config.property.packages</param-name> -->
            <!-- <param-value>your.package.with.jersey.resources</param-value> -->
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>rest.service</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
</web-app>